<!DOCTYPE html>
<html>
<head>
	<title>Get Ad</title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{url_for('static', filename ='styles/home.css')}}">
<style>

#example1{
background-image: url({{url_for('static', filename = 'images/stopspread.png')}});
background-width : 100%;
background-height : 100%;
background-repeat : no-repeat;
background-position : center;


}

</style>
</head>
<body>

<div id = example1 class="container-fluid">

{% for i in values %}
<p class="example2"><font color = "black"><font size="5">{{i['formatted_address']}}  </p>						

{% endfor %} 
</div>

</body>
</html>